.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -20px 0 0;
}

p {
    font-size: 14px;
}

.startButton {
    margin: 20px 0 0 ;
    padding: 10px 15px;
    border: none;
    background-color: #b38ea9;
}